BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
ColumnLimit: 100
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true
Standard: 'Latest'
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
