Checks: >
  clang-analyzer-*,
  modernize-*,
  performance-*,
  -readability-avoid-endl
  -readability-identifier-naming

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
